<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=$charset">
<meta http-equiv="pragma" content="no-cache">
<meta http-equiv='expires' content='0'>
<!--{if isset($customtitle)}-->
<title>$customtitle -- {lang title}</title>
<!--{else}-->
<title>{lang title}</title>
<!--{/if}-->
</head>
<BODY>
<center><div style="width:90%; text-align:left;"><font size="5">{lang title}</font></div></center>
<br>
<hr>
<br>
